@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Londrina+Solid:wght@300;400;900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:wght@300;400;600&family=Satisfy&display=swap");

.bodyContainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  background-color: #faf7f2;
}
.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 72px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #292929;
}

nav {
  display: flex;
  flex-direction: row;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-right: 53px;
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  color: #292929;
  cursor: pointer;
  text-decoration: none;
}

.nav-items img {
  margin-right: 16px;
}

.order-now {
  display: flex;
  flex-direction: row;
  margin: 68px 0 64px 0;
}

.left-side {
  height: 449px;
  width: 531px;
  border-radius: 12px;
  background-image: url("../../../images/iteration-2-images/cta/kart-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.right-side {
  height: 449px;
  width: 531px;
  margin-left: 11px;
}

.right-side-top {
  height: 220px;
  background-image: url("../../../images/iteration-2-images/cta/kart-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  margin-bottom: 9px;
}

.right-side-bottom {
  height: 220px;
  background-image: url("../../../images/iteration-2-images/cta/kart-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
}

.left-side-container {
  margin: 41px 0 0 39px;
}

#left-side-header1 {
  font-family: Quattrocento;
  font-weight: 700;
  font-size: 68px;
  line-height: 72px;
  max-width: 289px;
  margin: 0;
}

#left-side-header2 {
  font-family: Barlow;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin: 6px 0 0 0;
}

.order-btn {
  margin-top: 25px;
  width: 138px;
  height: 48px;
  border-radius: 50px;
  border: none;
  color: #ce2829;
  font-family: Barlow;
  font-weight: 600;
  font-size: 14px;
  line-height: 48px;
  cursor: pointer;
}

.right-side-top-container {
  padding: 28.5px 0 0 32px;
}

#right-side-header1 {
  width: 183px;
  height: 86px;
  line-height: 44.27px;
  margin: 0;
  padding: 0;
  font-family: Barlow;
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
}

.right-side-bottom-container {
  padding: 28.5px 0 0 32px;
}

#right-side-header2 {
  width: 250px;
  height: 84px;
  line-height: 44.27px;
  margin: 0;
  padding: 0;
  font-family: Barlow;
  font-weight: 600;
  font-size: 32px;
  color: #292929;
}

.highlight {
  color: red;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.most-ordered-title {
  font-family: Satisfy;
  font-weight: 400;
  font-size: 32px;
  color: #ce2829;
  line-height: 45px;
  margin: 0;
}

.promoCode-title {
  font-family: Barlow;
  font-weight: 600;
  font-size: 42px;
  line-height: 56px;
  color: #292929;
  margin: 8px 0 10px 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin: auto;
}

.menu-items {
  display: flex;
  align-items: center;
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  line-height: 32.5px;
  color: #292929;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 12px 20px;
  margin-right: 22.5px;
  margin-bottom: 33px;
  cursor: pointer;
  text-decoration: none;
}

.active {
  display: flex;
  align-items: center;
  font-family: Barlow;
  font-weight: 500;
  font-size: 18px;
  line-height: 32.5px;
  color: #ffffff;
  background-color: #292929;
  border-radius: 50px;
  padding: 12px 20px;
  margin-right: 22.5px;
  margin-bottom: 33px;
  cursor: pointer;
}

.nav-menu a img {
  margin-right: 5.5px;
}

.food-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.food-items {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  width: 335px;
  height: 419px;
  border-radius: 12px;
}

.food-items-card {
  display: flex;
  flex-direction: column;
  width: 271px;
  height: 355px;
  margin: 32px;
}

.food-information {
  display: flex;
  flex-direction: column;
}

.food-name {
  font-family: Barlow;
  font-weight: 600;
  font-size: 22px;
  line-height: 29.5px;
  color: #292929;
  margin: 24px 0 8px 0;
}

.food-subinfo {
  display: flex;
}

.food-price {
  display: flex;
  align-items: center;
  margin-left: 121px;
  width: 100%;
  justify-content: space-between;
}

.food-rating {
  font-family: Barlow;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #1b1b1bb2;
  margin: 0;
}

.price {
  font-family: Barlow;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #292929;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1a1a1a;
}

.footer-container {
  display: flex;
  flex-direction: column;
  min-height: 390px;

  width: 100%;
}

.footer-info-container {
  display: flex;
  justify-content: center;
  margin: 53px 0 24px 0;
}

.copyright-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffffff26;
}
.footer-left {
  display: flex;
  flex-direction: column;
  margin: 0 51px 76px 0;
}
.footer-info-header {
  font-family: Londrina Solid;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  width: 251px;
  margin: 0 105px 40px 0;
}

.info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 306px;
}

.info-list-item:first-child {
  max-width: 240px;
}

.info-list-item {
  margin-bottom: 20px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.5px;
}

.info-list-item img {
  margin-right: 13px;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 68px 141px 0 0;
}

.hot-menu-header {
  font-family: Barlow;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 26px 0;
}

.hot-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.hot-menu-list-item {
  margin-bottom: 20px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.5px;
  margin-bottom: 7px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 347px;
  margin-bottom: 30px;
}

.instagram-header {
  font-family: Barlow;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 68px 0 40px 0;
}

.footer-img-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-img-container img {
  margin: 0 15.5px 10.5px 0;
}

@media (max-width: 768px) {
  .header-logo {
    margin: 50px 0 25px 0;
  }
  .header-actions {
    margin: 0 71px;
  }
  #mainHeader {
    font-size: 40px;
  }

  #promo-message {
    display: none;
  }

  .btn {
    font-size: 24px;
  }
  .navigation {
    height: auto;
    width: 100%;
  }
  nav {
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0 10px 30px;
    width: 410px;
  }

  .nav-items {
    min-width: 150px;
    margin-right: 41px;
    padding: 20px 0;
  }
  .order-now {
    flex-direction: column;
  }

  .right-side {
    width: 100%;
    margin-left: 0;
    margin-bottom: 16px;
  }

  .left-side {
    width: 422px;
    margin-left: 0;
    height: 336px;
    margin-bottom: 16px;
  }

  .right-side-top {
    margin-bottom: 16px;
  }

  .left-side-container {
    margin: 40px;
  }
  .menu-header {
    flex-wrap: wrap;
    width: 395px;
  }
  .promoCode-title {
    margin: 20px 43px 10px 43px;
  }
  .nav-menu {
    width: 378px;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .nav-menu a {
    margin-right: 0;
  }

  .food-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 58px;
  }

  .food-items {
    margin-top: 24px;
  }

  .footer-container {
    width: 100%;
  }
  .copyright-container {
    width: 80%;
    justify-content: space-between;
    height: 69px;
  }

  footer {
    height: auto;
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-info-container {
    flex-direction: column;
    width: 80%;
    margin: 0;
  }
  .footer-left {
    margin: 80px 0;
  }

  .footer-middle {
    margin: 0;
  }

  .instagram-header {
    margin: 42px 0 40px 0;
  }
  .footer-right {
    margin-bottom: 80px;
  }

  .footer-info-header {
    margin: 0 105px 30px 0;
  }
  .info-list-item {
    margin-bottom: 22px;
  }
}
