@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Londrina+Solid:wght@300;400;900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:wght@300;400;600&family=Satisfy&display=swap");

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 207px;
  background-color: #ce2829;
}
.headerContent {
  display: flex;
  flex-direction: column;
  min-width: 532px;
}
.title {
  margin-top: 66px;
  height: 45px;
}

.link {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #faf7f2;
  text-decoration: none;
}
.active {
  font-family: Barlow;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none;
}

.menu {
  width: 182px;
  margin-top: 45px;
}

.mainContainer {
  display: flex;
  justify-content: center;
}
.OrderContainer {
  max-width: 532px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 31px 0 170px 0;
}

.orderInfo {
  display: flex;
  flex-direction: column;
}

.pizzaInfo {
  display: flex;
  justify-content: space-between;
  height: 37px;
  margin-top: 16px;
  align-items: center;
}

.pizzaName {
  height: 56px;
  display: flex;
  align-items: center;
  font-family: Barlow;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
}
.pizzaPrice {
  font-family: Barlow;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
}

.pizzaRatingContainer {
  display: flex;
  width: 140px;
  justify-content: space-between;
}
.pizzaRating {
  color: #5f5f5f;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

@media (max-width: 768px) {
  .headerContent {
    min-width: 420px;
  }
  .OrderContainer {
    max-width: 420px;
  }
  .pizzaName {
    font-size: 27px;
  }
}
