.mainContainer {
  display: flex;
  justify-content: center;
  background-color: #ce2829;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  width: 723px;
}

.orderSuccess {
  font-family: Roboto Condensed;
  font-weight: 300;
  font-size: 86px;
  text-transform: uppercase;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  margin-top: 266px;
}
