@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Londrina+Solid:wght@300;400;900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:wght@300;400;600&family=Satisfy&display=swap");
.mainContainer {
  display: flex;
  justify-content: center;
  background-color: #ce2829;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 149px;
  width: 723px;
}
.orderSuccessMobile {
  display: flex;
  font-family: Roboto Condensed;
  font-weight: 300;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  width: 398px;
  height: 569px;
  align-items: center;
}

.footerContainer {
  display: none;
}
.orderDetail {
  display: none;
}
.summaryCard {
  display: none;
}

.orderSuccess {
  display: none;
}
.promoMessage {
  display: none;
}
@media (min-width: 768px) {
  .container {
    margin-top: 56px;
  }
  .footerContainer {
    display: flex;
  }
  .orderDetail {
    display: flex;
  }
  .summaryCard {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 56px;
  }
  .summary {
    height: 197px;
    border: 1px solid #faf7f2;
    border-radius: 6px;
  }
  .summaryInfo {
    margin: 42px 49px;
  }
  .title {
    margin-bottom: 22px;
    font-family: Barlow;
    font-weight: 600;
    font-size: 20px;
    font-family: Barlow;
    color: #ffffff;
  }

  .summaryRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    color: #5f5f5f;
    font-family: Barlow;
    font-weight: 600;
    font-size: 18px;
    font-family: Barlow;
    color: #ffffff;
  }
  .orderSuccess {
    display: flex;
    font-family: Roboto Condensed;
    font-weight: 300;
    font-size: 86px;
    text-transform: uppercase;
    line-height: 92px;
    letter-spacing: 1.5px;
    text-align: center;
    color: #ffffff;
  }

  .promoMessage {
    display: flex;
    font-family: Satisfy;
    color: #fdc913;
    font-size: 32px;
    margin-top: 70px;
    font-weight: 400;
    line-height: 44.27px;
    text-align: center;
  }
  .orderSuccessMobile {
    display: none;
  }

  .orderDetail {
    width: 523px;
    border-top: 1px solid #faf7f2;
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pizzaName {
    display: flex;
    align-items: center;
    font-family: Barlow;
    font-weight: 600;
    font-size: 22px;
    color: #ffffff;
    height: 56px;
    margin: 22px 0;
  }

  .orderDetailContainer {
    width: 202px;
    min-height: 153px;
  }

  .orderDetailInfoContainer {
    margin-bottom: 13px;
    display: flex;
  }

  .orderDetailInfo {
    margin: 0;
    font-weight: 700;
    font-family: Barlow;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
  }

  .orderDetailTitle {
    font-family: Barlow;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.76px;
    color: #ffffff;
    margin-right: 3px;
  }
}
