@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Londrina+Solid:wght@300;400;900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:wght@300;400;600&family=Satisfy&display=swap");
.mainContainer {
  display: flex;
  justify-content: center;
  background-color: #ce2829;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 56px;
  width: 723px;
}

.orderSuccess {
  font-family: Roboto Condensed;
  font-weight: 300;
  font-size: 86px;
  text-transform: uppercase;
  line-height: 92px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
}

.promoMessage {
  font-family: Satisfy;
  color: #fdc913;
  font-size: 32px;
  margin-top: 70px;
  font-weight: 400;
  line-height: 44.27px;
  text-align: center;
}

.orderDetail {
  width: 523px;
  border-top: 1px solid #faf7f2;
  margin-top: 57px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.pizzaName {
  font-family: Barlow;
  font-weight: 600;
  font-size: 22px;
  line-height: 29.44px;
  text-align: center;
  color: #ffffff;
  height: 56px;
  margin-top: 22px;
}

.orderDetailContainer {
  /* width: 202px; */
  min-height: 153px;

  color: white;
  font-size: 13px;
  line-height: 1.4;
}

/* Her satır (Boyut / Hamur / Ek Malzemeler) */
.orderDetailInfoContainer {
  margin-bottom: 6px;
  display: flex;
}

/* Değerler */
.orderDetailInfo {
  margin: 2px 0 4px 0;
  font-weight: 700;
}
