@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Londrina+Solid:wght@300;400;900&family=Quattrocento:wght@400;700&family=Roboto+Condensed:wght@300;400;600&family=Satisfy&display=swap");
.footer-container {
  display: flex;
  flex-direction: column;
  min-height: 390px;
  width: 100%;
}

.footer-info-container {
  display: flex;
  justify-content: center;
  margin: 53px 0 24px 0;
}

.footer-left {
  display: flex;
  flex-direction: column;
  margin: 0 51px 76px 0;
}

.footer-info-header {
  font-family: Londrina Solid;
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  width: 251px;
  margin: 0 105px 40px 0;
}

.info-list-item:first-child {
  max-width: 240px;
}

.info-list-item {
  margin-bottom: 20px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.5px;
}

.info-list-item img {
  margin-right: 13px;
}

.footer-middle {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 68px 141px 0 0;
}

.hot-menu-header {
  font-family: Barlow;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 26px 0;
}

.hot-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.hot-menu-list-item {
  margin-bottom: 20px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 18px;
  line-height: 32.5px;
  margin-bottom: 7px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 347px;
  margin-bottom: 30px;
}

.instagram-header {
  font-family: Barlow;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  margin: 68px 0 40px 0;
}

.footer-img-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-img-container img {
  margin: 0 15.5px 10.5px 0;
}
.copyright-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 90px;
  border-top: 1px solid #ffffff26;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #1a1a1a;
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer-container {
    width: 100%;
  }
  .copyright-container {
    width: 80%;
    justify-content: space-between;
    height: 69px;
  }

  footer {
    height: auto;
  }
  .footer-container {
    align-items: center;
    flex-direction: column;
  }
  .footer-info-container {
    flex-direction: column;
    width: 80%;
    margin: 0;
  }
  .footer-left {
    margin: 80px 0;
  }

  .footer-middle {
    margin: 0;
  }

  .instagram-header {
    margin: 42px 0 40px 0;
  }
  .footer-right {
    margin-bottom: 80px;
  }

  .footer-info-header {
    margin: 0 105px 30px 0;
  }
  .info-list-item {
    margin-bottom: 22px;
  }
}
